{
  "etherpad": {
    "scheme": "http",
    "host": "127.0.0.1",
    "port": 9001,
    "version": "1.2.14",
    "apikey": ETHERPAD_APIKEY
  },
  "log": {
    "level": "info"
  },
  "redis": {
    "host": "127.0.0.1",
    "port": 6379,
    "password": null,
    "channels": {
      "publish": "to-akka-apps-redis-channel",
      "subscribe": [
        "from-akka-apps-redis-channel",
        "from-etherpad-redis-channel"
      ]
    }
  }
}
